/* 
    Created on : Feb 25, 2022, 5:46:47 PM
    Author     : Duc Minh
*/
.maincontent{
    
    background-color: #e7e7e7;

}
a{
    text-decoration: none;
    color: Gray;
}

a:hover,
td a:hover img{
    color: rgb(211, 211, 211)
}
.editDeital h1{
    margin-left: 16px;
}