@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("../image/1426870.png");
}
.container{
    max-width: 700px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    border-radius: 7px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fff;
}
.container .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}
.container form .user-detail{
    display: flex;
    flex-direction: column;
    margin: 20px 0 12px 0;
}
form .user-detail .input-box{
    
    width: calc(100% - 20px);
    margin-bottom: 15px;
}
form .user-detail .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}
form .user-detail .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3 ease;
}
form .user-detail .input-box input:focus{
    border-color: #9b59b6;
}
form .user-detail .error{
    color: red;
    display: none;
}
form .user-detail .error.active{
    display: block;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: all 0.4 ease;
}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6); ;
}
.final-error{
    color: red;
}
select{
    width: 100%;
    padding: 5px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3 ease;
}
textarea{
    width: 100%;
    padding: 5px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width:2px ;
    transition: all 0.3 ease;
}
