@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins";
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none !important;
}

/* End css reset */

/*--------------*/
/* Main css */
/*----------*/

/*Account feature css */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #222;
}
.has-feedback .form-control-feedback {
  top: 33px;
}

.validate_cus {
  color: #a94442;
  font-size: small;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 250px;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 0.7rem;
  color: rgb(39, 33, 33);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 0.7rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.5rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
/*-----------------*/
/*Landing page css*/
@media (max-width: 991px) {
  .allhome html {
    font-size: 55%;
  }
}
.allhome section {
  padding: 1rem 9%;
}
.allhome {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.allhome::selection {
  background-color: var(--red);
  color: #fff;
}
.allhome html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
.allhome body {
  background: #f7f7f7;
}
.allhome .home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 60vh;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: turquoise;
}
.allhome .home .content {
  flex: 1 1 20rem;
}
.home .content {
  flex: 1 1 40rem;
}
.allhome .home .image img {
  width: 100%;
  padding: 0.5rem;
  animation: float 3s linear infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(2rem);
  }
}
.allhome .home .content h3 {
  font-size: 3rem;
  color: aliceblue;
}
.home .content p {
  font-size: 1rem;
  width: 100%;
  padding: 2rem;
  color: azure;
  border-left: 2px solid #ff0000;
}
.allhome .btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;

  background-color: tomato;
}
.allhome .btn:hover {
  color: #fff;
}

.about,
.services,
.ourteam {
  text-align: center;
  padding: 5% 10%;
}
h1.title {
  margin-bottom: 20px;
  color: #444444;
  font-family: "Allura", cursive;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 25px;
}

.about span {
  font-size: 1rem;
  color: #512a10;
}

.about .title {
  padding-top: 1rem;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #222;
}

.about p {
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}

.about .icons-container .icons {
  padding: 1rem;
  background: #eee;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 5rem;
  flex: 1 1 5rem;
}

.about .icons-container .icons i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #512a10;
}

.about .icons-container .icons h3 {
  font-size: 1rem;
  text-transform: capitalize;
  color: #222;
}
.heading {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: #666;
}
.heading span {
  color: var(--blue);
}

.speciality .box-container {
  display: flex;
  gap: 1.5rem;
}
.speciality .box-container .box {
  flex: 1 1 10rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.speciality .box-container .box .image {
  height: 40%;
  width: 40%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 1rem;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
  font-size: 1rem;
  color: #333;
}

.speciality .box-container .box .content p {
  font-size: 0.5rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
  top: 0;
}

.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}
.review .box-container {
  background-color: #eee;
  display: flex;

  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  padding: 1rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 20rem;
  background: #333;
  margin-top: 6rem;
}

.review .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--red);
  padding: 0.5rem 0;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}
.review .More {
  font-size: 1rem;
  padding-top: 2rem;
  float: right;
  color: blue;
}

.heading {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: #666;
}
.heading span {
  color: var(--blue);
}

.speciality .box-container {
  display: flex;
  gap: 1.5rem;
}
.speciality .box-container .box {
  flex: 1 1 15rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 0.5rem;
}

.speciality .box-container .box .content img {
  margin: 0.5rem 0;
}

.speciality .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #333;
}

.speciality .box-container .box .content p {
  font-size: 1rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
  top: 0;
}

.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}
.review .box-container {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
