/* 
    Created on : Feb 10, 2022, 7:45:38 AM
    Author     : Duc Minh
*/
/*Card Response*/
.answerCard,
.doneBtn {
  display: none;
}
.card--top--menu h3{
    color: #0367b4;
    font-weight: 700;
}