/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2022, 10:13:39 PM
    Author     : Danh Tinh
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar a{
    display: block;
    text-decoration: none;
}

.sidebar, .content {
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.content{
    padding-top: 20px;
    padding-left: 40px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 800px;
    
}

.top{
    display: flex;
    background-color: #b8e994;
    margin-left: 0;
    height: 200px;
    width: 96%;
    border-radius: 20px;
}

.money{
    margin-left: 40px;
    margin-top: 60px;
}

.money h2{
    font-size: 15px;
    font-weight: bold;
}

.money h1{
    font-size: 40px;
    font-weight: bold;
}

.button{
    margin-left: 55%;
    margin-top: 50px;
}

.card-button{
    display: block;
    padding-top: 8px;
    background-color: #10ac84;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}

.card-button h1{
    font-size: 20px;
    color: white;
}

.card-popup{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 20px; 
    background-color: #A3CB38;
    height: 150px;
    width: 300px;
}

.confirm-btn{
    padding-top: 2px;
    background-color: #009432;
    width: 50px;
    height: 30px;
    margin-left: 80px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}

#click{
    display: none;
}

#click:checked ~ .card-popup{
    opacity: 1;
    visibility: visible;
}

.modal-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(34, 47, 62,0.8);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal_content{
    width: 500px;
    height: 300px;
    background-color: #10ac84;
    border-radius: 4px;
    text-align: center;
    padding: 50px;
    position: relative;
}

.close{
    position: absolute;
    top: -10px;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup-btn{
    margin: 10px;
    color: black;
}

.pagination-ex {
    display: flex;
    justify-content: center;
}

.pagination-ex ul li.active,
.pagination-ex ul li.numb:hover,
.pagination-ex ul li.btn:hover{
    background: #dcdde1;
}