<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LogoutFilter</filter-name>
        <filter-class>Filter.LogoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogoutFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>Controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>Controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDescripController</servlet-name>
        <servlet-class>Controller.SubjectDescripController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeController</servlet-name>
        <servlet-class>Controller.KnowledgeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllTeacherController</servlet-name>
        <servlet-class>Controller.ListAllTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>Controller.CreateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRequestController</servlet-name>
        <servlet-class>Controller.EditRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestStuController</servlet-name>
        <servlet-class>Controller.ViewRequestStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>Controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeblistController</servlet-name>
        <servlet-class>Controller.WeblistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleController</servlet-name>
        <servlet-class>Controller.ArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllRequestStu</servlet-name>
        <servlet-class>Controller.ListAllRequestStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllRequestTeaController</servlet-name>
        <servlet-class>Controller.ListAllRequestTeaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestTeaController</servlet-name>
        <servlet-class>Controller.ViewRequestTeaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestReply</servlet-name>
        <servlet-class>Controller.CreateRequestReplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllRequestController</servlet-name>
        <servlet-class>Controller.ListAllRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewRequestController</servlet-name>
        <servlet-class>Controller.CreateNewRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestController</servlet-name>
        <servlet-class>Controller.DeleteRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>Controller.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAccountController</servlet-name>
        <servlet-class>Controller.CheckAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountController</servlet-name>
        <servlet-class>Controller.VerifyAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/Subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDescripController</servlet-name>
        <url-pattern>/SubjectDescrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeController</servlet-name>
        <url-pattern>/Knowledge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllTeacherController</servlet-name>
        <url-pattern>/ListAllTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRequestController</servlet-name>
        <url-pattern>/EditRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestStuController</servlet-name>
        <url-pattern>/ViewRequestStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeblistController</servlet-name>
        <url-pattern>/Weblist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleController</servlet-name>
        <url-pattern>/Article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllRequestStu</servlet-name>
        <url-pattern>/ListAllRequestStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllRequestTeaController</servlet-name>
        <url-pattern>/ListAllRequestTea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestTeaController</servlet-name>
        <url-pattern>/ViewRequestTea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestReply</servlet-name>
        <url-pattern>/CreateRequestReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllRequestController</servlet-name>
        <url-pattern>/ListAllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewRequestController</servlet-name>
        <url-pattern>/CreateNewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestController</servlet-name>
        <url-pattern>/DeleteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/UpdateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAccountController</servlet-name>
        <url-pattern>/CheckUserExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountController</servlet-name>
        <url-pattern>/VerifyCaptcha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
