<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>filter.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PreventAccessJSPFilter</filter-name>
        <filter-class>filter.PreventAccessJSPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PreventAccessJSPFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.CountViewPageListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>listener.RequestAcceptListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDescripController</servlet-name>
        <servlet-class>controller.SubjectDescripController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KnowledgeController</servlet-name>
        <servlet-class>controller.KnowledgeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllTeacherController</servlet-name>
        <servlet-class>controller.ListAllTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>controller.CreateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestStuController</servlet-name>
        <servlet-class>controller.ViewRequestStuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeblistController</servlet-name>
        <servlet-class>controller.WeblistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleController</servlet-name>
        <servlet-class>controller.ArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestTeaController</servlet-name>
        <servlet-class>controller.ViewRequestTeaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestReplyController</servlet-name>
        <servlet-class>controller.CreateRequestReplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllRequestController</servlet-name>
        <servlet-class>controller.ListAllRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestController</servlet-name>
        <servlet-class>controller.DeleteRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>controller.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountController</servlet-name>
        <servlet-class>controller.VerifyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTeacherSearchController</servlet-name>
        <servlet-class>controller.ListTeacherSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileUserController</servlet-name>
        <servlet-class>controller.ViewProfileUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeTutorController</servlet-name>
        <servlet-class>controller.BecomeTutorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagerController</servlet-name>
        <servlet-class>controller.AccountManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagerSearchController</servlet-name>
        <servlet-class>controller.AccountManagerSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRequestController</servlet-name>
        <servlet-class>controller.TeacherRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRequestHandleController</servlet-name>
        <servlet-class>controller.TeacherRequestHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRequestSearchController</servlet-name>
        <servlet-class>controller.TeacherRequestSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequestSearchController</servlet-name>
        <servlet-class>controller.ListRequestSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusAccountController</servlet-name>
        <servlet-class>controller.ChangeStatusAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRecommendSearchController</servlet-name>
        <servlet-class>controller.TeacherRecommendSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadNotificationController</servlet-name>
        <servlet-class>controller.ReadNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationController</servlet-name>
        <servlet-class>controller.DeleteNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowmoreNotificationController</servlet-name>
        <servlet-class>controller.ShowmoreNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletController</servlet-name>
        <servlet-class>controller.WalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportListController</servlet-name>
        <servlet-class>controller.ReportListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounterController</servlet-name>
        <servlet-class>controller.CounterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusRequestController</servlet-name>
        <servlet-class>controller.ChangeStatusRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/Subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDescripController</servlet-name>
        <url-pattern>/SubjectDescrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KnowledgeController</servlet-name>
        <url-pattern>/Knowledge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllTeacherController</servlet-name>
        <url-pattern>/ListAllTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestStuController</servlet-name>
        <url-pattern>/ViewRequestStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeblistController</servlet-name>
        <url-pattern>/Weblist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleController</servlet-name>
        <url-pattern>/Article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestTeaController</servlet-name>
        <url-pattern>/ViewRequestTea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestReplyController</servlet-name>
        <url-pattern>/CreateRequestReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllRequestController</servlet-name>
        <url-pattern>/ListAllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestController</servlet-name>
        <url-pattern>/DeleteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/UpdateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountController</servlet-name>
        <url-pattern>/VerifyCaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTeacherSearchController</servlet-name>
        <url-pattern>/ListTeacherSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileUserController</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeTutorController</servlet-name>
        <url-pattern>/BecomeTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagerController</servlet-name>
        <url-pattern>/AccountManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagerSearchController</servlet-name>
        <url-pattern>/AccountManagerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRequestController</servlet-name>
        <url-pattern>/TeacherRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRequestHandleController</servlet-name>
        <url-pattern>/TeacherRequestHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRequestSearchController</servlet-name>
        <url-pattern>/TeacherRequestSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequestSearchController</servlet-name>
        <url-pattern>/ListRequestSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusAccountController</servlet-name>
        <url-pattern>/ChangeStatusAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRecommendSearchController</servlet-name>
        <url-pattern>/TeacherRecommendSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadNotificationController</servlet-name>
        <url-pattern>/ReadNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationController</servlet-name>
        <url-pattern>/DeleteNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowmoreNotificationController</servlet-name>
        <url-pattern>/ShowmoreNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletController</servlet-name>
        <url-pattern>/Wallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportListController</servlet-name>
        <url-pattern>/ReportList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounterController</servlet-name>
        <url-pattern>/Counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusRequestController</servlet-name>
        <url-pattern>/ChangeStatusRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
